colorama==0.4.4
commonmark==0.9.1
numpy==1.19.5
prompt-toolkit==1.0.14
pyfiglet==0.8.post1
Pygments==2.7.3
PyInquirer==1.0.3
regex==2020.11.13
rich==9.8.0
six==1.15.0
typing-extensions==3.7.4.3
wcwidth==0.2.5
